@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}
